.clean-input {
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  border-radius: 32px;
}

button.clean-input {
  cursor: pointer;
}

button.close {
  margin: -10px;
  position: absolute;
  background-color: transparent;
}

.clean-input:focus {
  outline: none;
}

.shadow {
  box-shadow: 0 0 3px 0 grey;
  transition: box-shadow 0.5s;
}

.shadow:hover {
  box-shadow: 0 0 5px 0 grey;
}

.shadow-inset {
  box-shadow: inset 0 0 3px 0 grey;
  transition: box-shadow 0.5s;
}

.shadow-inset:hover {
  box-shadow: inset 0 0 1px 0 grey;
}

.card-header {
  background: lightgrey;
  width: 350px;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 5px 1px grey;
  position: relative;
}

.card-body {
  background: white;
  width: 350px;
  padding: 15px;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px 1px grey;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.blur-background {
  backdrop-filter: blur(5px);
}
