#Profile {
  position: absolute;
  width: 90%;
  height: 15%;

  top: 75%;

  background-color: rgb(173, 172, 172);
  border-radius: 6px;
}
.Account-Button {
  margin: 2% auto 0 auto;
  width: 30%;
}

