#overlay-button  {
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 5%;
}

#Offcanvas-Title {
  text-align: center;
  margin-bottom: 4vh;

  font-size: 30px;
  font-weight: bold;
}

/*  Left-oriented UI components  */
#Offcanvas {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: min(40vw, 400px);
  background-color: aliceblue;
  padding: 15px;
}
