#Overlay-button  {
  position: fixed;
  z-index: 1;
  top: 5%;
  left: 5%;
}

#Offcanvas-Title {
  text-align: center;
  margin-bottom: 4vh;

  font-size: 30px;
  font-weight: bold;
}

/*  Left-oriented UI components  */
#Offcanvas {
  position: fixed;
  top: 2%;
  left: 1%;

  height: 97%;
  width: min(40vw, 400px);
  padding: 15px;
  border-radius: 2vw;

  background: linear-gradient(-45deg, aliceblue, rgb(156, 173, 188), aliceblue);
	background-size: 100% 300%;
	animation: gradient 15 ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
	50% {
		background-position: 100% 150%;
	}
	100% {
		background-position: 200% 25%;
	}
}